<!-- Loop over each object in the projects array -->
{{! This creates a Bulma card }}
{{! https://bulma.io/documentation/components/card/ }}

<div class="columns column-grid-3">
  {{#each restaurants as |restaurant|}}
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img
              src="/images/{{restaurant.filename}}"
              alt="{{restaurant.description}}"
            />
          </figure>
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{restaurant.name}}</p>
              <p class="subtitle is-6">{{restaurant.food_type}}</p>
            </div>
          </div>

          {{!-- <div class="content">
            {{restaurant.description}}
          </div> --}}

          <div class="content-area container has-text-centered">
              <a class="button is-dark is-normal">Reviews</a>
              
              <div class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <div class="section modal-wrap">
                    <h1 class="title">weeeeeeeeeeeeeee~~~~~~~~~~~~</h1>
                    {{!-- TODO: Reviews go here --}}
                  </div>
                </div>
                <button
                  class="modal-close is-large"
                  aria-label="close"
                ></button>
              </div>
            
          </div>

          {{! <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <h1 class="title">Reviews</h1>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div> }}

        </div>
      </div>
    </div>
  {{/each}}
</div>