<!-- Loop over each object in the restaurants array -->
{{! This creates a Bulma card }}
{{! https://bulma.io/documentation/components/card/ }}
{{!-- Structure borrowed from: https://ucb.bootcampcontent.com/UCB-Coding-Bootcamp/UCB-VIRT-FSF-PT-05-2022-U-LOLC/-/blob/main/14-MVC/01-Activities/28-Stu_Mini-Project/Main/views/homepage.handlebars --}}

<div class="columns is-multiline">
  {{#each restaurants as |restaurant|}}

    {{! Break each card into a column that spans 1/3 of the page }}
    <div class="column is-one-third">

      {{! Create the restaurant Card container }}
      <div class="card card-background">

        {{! Pass the Restaurant image to the Card }}
        <div class="card-image">
          <figure class="image is-1by1">
            <img
              src="/images/{{restaurant.dataValues.filename}}"
              alt="{{restaurant.dataValues.description}}"
            />
          </figure>
        </div>

        {{! Display the Restaurant Name and Food Type in the main Card }}
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{restaurant.dataValues.name}}</p>
              <p class="subtitle is-6">{{restaurant.dataValues.food_type}}</p>
            </div>
          </div>

          {{! Group the buttons together }}
          <div class="card-footer">
            {{! Create the button used for the User Reviews }}
            <a
              class="js-modal-trigger card-footer-item"
              data-target="restaurant-reviews-{{restaurant.dataValues.id}}"
            >
              User Reviews
            </a>

            {{! Create the button used for the Restaurant Info }}
            <a
              class="js-modal-trigger card-footer-item"
              data-target="restaurant-info-{{restaurant.dataValues.id}}"
            >
              Restaurant Info
            </a>
          </div>

          {{! Create the Modal content for the Reviews }}
          <div
            id="restaurant-reviews-{{restaurant.dataValues.id}}"
            class="modal"
          >
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <div class="box content">
                  <h1>{{restaurant.dataValues.name}}</h1>
                  <h3>User Reviews</h3>
                </div>
                {{#each reviews as |review|}}
                  <div class="box content is-medium shaded-background">
                    <p class="">"{{review.dataValues.comment}}" - (TODO: insert
                      User.name)</p>
                  </div>
                {{/each}}
              </div>
            </div>
            <button class="modal-close" aria-label="close"></button>
          </div>

          {{! Create a Modal for the Restaurant Info }}
          <div id="restaurant-info-{{restaurant.dataValues.id}}" class="modal">
            <div class="modal-background"></div>

            <div class="modal-content">
              <div class="box">
                <div class="box content">
                  <h1>{{restaurant.dataValues.name}}</h1>
                </div>
                <div class="box content is-medium shaded-background">
                  <p class="">{{restaurant.dataValues.description}}</p>
                </div>
                <div class="box content is-medium shaded-background">
                  <p class="">Pets OK? -
                    <b>{{restaurant.dataValues.pet_allowed}}</b></p>
                </div>
              </div>
            </div>
            <button class="modal-close is-dark" aria-label="close"></button>
          </div>

        </div>
      </div>
    </div>
  {{/each}}
</div>