<!-- Loop over each object in the projects array -->
{{! This creates a Bulma card }}
{{! https://bulma.io/documentation/components/card/ }}

{{!-- {{log restaurants}} --}}

<div class="columns column-grid-3">
  {{#each restaurants as |restaurant|}}
  {{ log restaurant }}
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img
              src="/images/{{restaurant.dataValues.filename}}"
              alt="{{restaurant.description}}"
            />
          </figure>
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{restaurant.dataValues.name}}</p>
              <p class="subtitle is-6">{{restaurant.dataValues.food_type}}</p>
            </div>
          </div>

          {{!-- <div class="content">
            {{restaurant.description}}
          </div> --}}

          {{!-- Add HTML for the Modal --}}
          {{!-- <div class="content-area container has-text-centered">
              <a class="button is-dark is-normal rev-btn">Reviews</a>
              
              <div class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <div class="section modal-wrap">
                    <h1 class="title">weeeeeeeeeeeeeee~~~~~~~~~~~~</h1>
                    {{!-- TODO: Reviews go here --}}
                  </div>
                </div>
                <button
                  class="modal-close is-large"
                  aria-label="close"
                ></button>
              </div>
            
          </div> --}}

          <div id="restaurant-{{restaurant.dataValues.id}}" class="modal">
            <div class="modal-background"></div>

            <div class="modal-content">
              <div class="box">
                <p>Modal JS example</p>
                <!-- Your content -->
              </div>
            </div>

            <button class="modal-close is-large" aria-label="close"></button>
          </div>

          <button class="js-modal-trigger rev-btn" data-target="restaurant-{{restaurant.dataValues.id}}">
            Open JS example modal
          </button>

          {{! <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <h1 class="title">Reviews</h1>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div> }}

        </div>
      </div>
    </div>
  {{/each}}
</div>