<!-- Loop over each object in the projects array -->
{{! This creates a Bulma card }}
{{! https://bulma.io/documentation/components/card/ }}

{{!-- {{log restaurants}} --}}

<div class="columns column-grid-3">
  {{#each restaurants as |restaurant|}}
  {{ log restaurant }}
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img
              src="/images/{{restaurant.dataValues.filename}}"
              alt="{{restaurant.dataValues.description}}"
            />
          </figure>
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{restaurant.dataValues.name}}</p>
              <p class="subtitle is-6">{{restaurant.dataValues.food_type}}</p>
            </div>
          </div>

          <div id="restaurant-{{restaurant.dataValues.id}}" class="modal">
            <div class="modal-background"></div>

            <div class="modal-content">
              <div class="box">
                <p>Modal JS example</p>
              </div>
            </div>

            <button class="modal-close is-large" aria-label="close"></button>
          </div>

          <button class="js-modal-trigger rev-btn" data-target="restaurant-{{restaurant.dataValues.id}}">
            Open JS example modal
          </button>

        </div>
      </div>
    </div>
  {{/each}}
</div>