{{!-- Structure borrowed from: https://ucb.bootcampcontent.com/UCB-Coding-Bootcamp/UCB-VIRT-FSF-PT-05-2022-U-LOLC/-/blob/main/14-MVC/01-Activities/28-Stu_Mini-Project/Main/views/profile.handlebars --}}
<div class="columns">
  <div class="column">
    <p class="card-header-title">Welcome, {{name}}!</p>
    <h2 class="title is-4">Create a new restaurant review:</h2>
    <div class="new-project-form">
      <strong for="project-name">Restaurant name:</strong>
      <select
        class="form-input"
        type="text"
        id="project-name"
        name="project-name"
      >
        {{#each restaurants as |restaurant|}}
          <option
            value="{{restaurant.dataValues.id}}"
          >{{restaurant.dataValues.name}}</option>
        {{/each}}
      </select>
      <div class="column">
        <textarea
          class="textarea"
          id="review"
          placeholder="Enter your comment here"
        ></textarea>
      </div>
      <div class="control">
        <button type="submit" class="button is-primary">Create</button>
      </div>

    </div>

    <div class="column project-list">
      <p class="card-header-title">Current Reviews:</p>
      {{#if reviews.length}}
        {{#each reviews as |review|}}
          <div>
            <div class="card-content box content is-medium shaded-background">
              <div class="content ">
                <h4>{{review.comment}}</h4>
                <p>{{review.restaurant.name}}</p>
              </div>
              <div class="control">
                <button
                  class="button is-primary"
                  data-id="{{review.id}}"
                >Delete</button>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>

  </div>
</div>

<script src="/js/profile.js"></script>